@model IEnumerable<TenderWithOrderViewModel>

@{
    var faName = "پیشنهاد";
    ViewData["Title"] = $"لیست {@faName}ات";
    int rowCount = 1;
}
<div class="d-flex justify-content-between">
    <h3>لیست @(faName)ات</h3>
    <div>
        <a class="btn btn-success" asp-action="Orders">@faName جدید</a>
    </div>
</div>
<hr />

<table class="table table-striped table-hover text-center">
    <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Order.Customer)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Order.Service)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Order.OrderState)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tender.Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tender.RegisterDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tender.RequiredTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tender.StartDate)
            </th>
            <th scope="col">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @(rowCount++)
                </td>
                <td>@item.Order.Customer</td>
                <td>@item.Order.Service</td>
                <td>@item.Order.OrderState</td>
                <td>@(((long)item.Tender.Price).ToString("#,##0"))</td>
                <td>@(Convert.ToDateTime(item.Tender.RegisterDate).ToShamsi())</td>
                <td>@item.Tender.RequiredTime</td>
                <td>@(Convert.ToDateTime(item.Tender.StartDate).ToShamsi())</td>
                <td>
                    @if (item.Order.OrderStateId == (int)OrderStateEnum.WaitingForChoseExpert)
                    {
                        <a class="btn btn-info" asp-action="EditTender" asp-route-id="@item.Tender.Id">
                            ویرایش
                        </a>
                        <span>|</span>
                        <a id="delete" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="@item.Tender.Id" data-name="@(rowCount-1)">
                            حذف
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-info" asp-action="WorkDone" asp-route-id="@item.Tender.Id">
                            انجام شد
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">حذف @faName</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                آیا از حذف @faName شماره <span id="modalShowFor" class="text-info"></span> اطمینان دارید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    خیر
                </button>
                <a class="btn btn-danger" id="submitDelete">
                    بله
                </a>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("click","#delete", function(){
        var id=$(this).data('id');
        var name=$(this).data('name');
        $(".modal-footer #submitDelete").attr("href","/Expert/DeleteTender/" + id);
        $("#modalShowFor").html(name);
    });
</script>